
/**
* Common theme for sharing $global-theme and dynamically
* created variant theme color classes
*/
@import "../../../common/assets/common-theme";

$Fathym-Green: mat-color(map-get($global-theme, primary), A700);

.billing-app-container{
    // background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../assets/img/bubble-clean.jpg);
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../assets/img/thinky-outside-the-box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    padding-top: 30px;
}
