<!-- <div [className]="SelectedTheme" style="height: 100%">
    <router-outlet></router-outlet>
</div> -->
<div [className]="SelectedTheme" style="height: 100%">
  <!-- <lcu-side-nav logo-class="primary-logo" title="Fathym Setup"> -->
    <div class="billing-top-bar">
      <lcu-user-account-sidenav [user-email]="Username" ></lcu-user-account-sidenav>
    </div>
    
    <div style="height: 100%;">
      <router-outlet (activate)="OnActivate($event)"></router-outlet>
    </div>
    <!-- <img class="bg-image" [src]="BackgroundImage" alt=""> -->
  <!-- </lcu-side-nav> -->
</div>
