<div fxLayout="row">
    <div fxFlex="30%">
        <div fxFlex="100%" class="profile-navigation">
            <mat-list role="list">
                <mat-list-item role="listitem"
                    *ngFor="let option of ProfileOptions"
                    [ngClass]="{'active-option': option.Active}"
                    (click)="SetActiveOption(option.Value)">{{ option.Title }}
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div fxFlex="40%">
        <div fxFlex="100%" class="active-data-section">
            <div *ngIf="ActiveOptionValue === 'myInfo'">
                <div class="profile-title">My info</div>
                <form  [formGroup]="ProfileForm" (ngSubmit)="OnSubmit()" class="marketplace-profile-form" fxLayout="column">
                    <mat-form-field>
                      <input 
                        [ngClass]="{'input-edit-indication': EditingForm}" 
                        matInput 
                        placeholder="Name" 
                        formControlName="Name">
                    </mat-form-field>
                    <mat-form-field>
                      <input 
                        [ngClass]="{'input-edit-indication': EditingForm}" 
                        matInput 
                        placeholder="Company email" 
                        formControlName="CompanyEmail">
                    </mat-form-field>
                    <mat-form-field>
                      <input 
                        [ngClass]="{'input-edit-indication': EditingForm}" 
                        matInput 
                        placeholder="Company" 
                        formControlName="Company">
                    </mat-form-field>
                    <mat-form-field>
                      <input 
                        [ngClass]="{'input-edit-indication': EditingForm}" 
                        matInput 
                        placeholder="Company URL" 
                        formControlName="CompanyURL">
                    </mat-form-field>
                    <button class="profile-action-button" *ngIf="!EditingForm" (click)="EditForm()">Edit</button>
                    <button class="profile-action-button" *ngIf="EditingForm" type="submit" [disabled]="!ProfileForm.valid">Save</button>
                </form>
            </div>
            <div *ngIf="ActiveOptionValue === 'password'">
                <div class="profile-title">Password</div>
            </div>
            <div *ngIf="ActiveOptionValue === 'subscriptions'">
                <div class="profile-title">Subscription info</div>
            </div>
        </div>
    </div>
    <div fxFlex="30%">
        <div fxFlex="100%" class="right-side-profile">

        </div>
    </div>
</div>