<mat-toolbar class="ide-tool-bar" fxLayout="row" fxLayoutAlign="space-between">

  <div fxLayout="row" fxLayoutAlign="space-between center">

    <button class="menu-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="ToggleSideBar()" *ngIf="isHandset">

      <mat-icon class="toolbar-icon" aria-label="Side nav toggle icon" >menu</mat-icon>

    </button>

    <div class="primary-logo" alt="Fathym Framework" [ngClass]="{'small': isHandset, 'large': !isHandset}"></div>

  </div>

  <lcu-user-account-sidenav class="user-account" 
  [user-info]="UsersInfo"
  (logout-clicked)=LogoutClicked($event)>
  </lcu-user-account-sidenav>

</mat-toolbar>