/**
* Common theme for sharing $global-theme and dynamically
* created variant theme color classes
*/
@import "../../common/assets/common-theme";

@mixin primary-logo($logo, $theme, $opacity) {
  .primary-logo {
    background-image: fathym-logo($logo, mat-color(map-get($theme, accent)), $opacity);
  }
  .secondary-logo {
    background-image: fathym-logo(thinky-circle,white, $opacity );
    height: 170px !important;
    width: 170px !important;

    
    background-size: 100% !important;
  }
}

.logo {
  width: 150px;
  height: 50px;
}

.router-container {
  background-image: fathym-logo(thinky-circle, rgba(74,145,142,0.3));
  background-position: center;
  background-repeat:no-repeat;
  box-sizing: border-box;
  height: 88%;
  margin: 1rem;
  padding: 1rem;
}