@import '../src/app/pages/settings/settings.component.scss';
@import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
@import '../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding';
@import '../../../node_modules/@lcu/common/assets/theming/fathym_themes';

@mixin theme-setup($theme) {
  @include angular-material-theme($theme);
  @include fathym-branding($theme);
  @include theme-extras($theme);
  @include component-themes($theme);

}

@mixin primary-logo($logo, $theme, $opacity) {
  .primary-logo {
    background-image: fathym-logo($logo, mat-color(map-get($theme, accent)), $opacity);
  }
  .secondary-logo{
    background-image: fathym-logo(thinky-circle,white, $opacity );
    height: 170px !important;
    width: 170px !important;
    background-size: 100% !important;
  }
}

@mixin component-themes($theme) {
  @include settings($theme);
}

.ivy-light-theme {
  $theme: fathym-ivy-theme();
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.logo {
  width: 150px;
  height: 50px;
}

.router-container {
  background-image: fathym-logo(thinky-circle, rgba(74,145,142,0.3));
  background-position: center;
  background-repeat:no-repeat;
  box-sizing: border-box;
  height: 88%;
  margin: 1rem;
  padding: 1rem;
}

@include theme-setup(fathym-ivy-theme());
