@import "../src/app/pages/org/org.component.scss";
@import "../src/app/pages/org-review/org-review.component.scss";
@import "../src/app/pages/confirmation-modal/confirmation-modal.component.scss";
// @import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
// @import '../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding';
// @import '../../../node_modules/@lcu/common/assets/theming/fathym_themes';
// @import "../../common/assets/common-styles";
@import "../../common/src/styles/theme";

@mixin theme-setup($theme) {
  @include angular-material-theme($theme);
  @include fathym-branding($theme);
  @include theme-extras($theme);
  @include top-bar($theme);
  @include component-themes($theme);
}

@mixin top-bar($theme) {
  $primary: map-get($theme, primary);

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .ide-tool-bar {
    background-color: mat-color($primary, A700);
  }
}

@mixin primary-logo($logo, $theme, $opacity) {
  .primary-logo {
    background-image: fathym-logo(
      $logo,
      mat-color(map-get($theme, accent)),
      $opacity
    );
  }
  .spinner-logo {
    background-image: fathym-logo(thinky-logo, black, $opacity);
    // height: 70px !important;
    // width: 70px !important;
    // background-size: 70px !important;
    // bottom: -80px;
    // left:14px;
    // position: relative;
    background-repeat: no-repeat;
    // background-position: center;
  }
}

// for updating components with themes
@mixin component-themes($theme) {
  @include org($theme);
  @include modal($theme);
  // @include org-review($theme);
}

.ivy-light-theme {
  $theme: fathym-ivy-theme();
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);

  button .mat-spinner circle {
    stroke: #282d35 !important;
    color: black !important;
  }
}

.logo {
  width: 150px;
  height: 50px;
}

@include theme-setup(fathym-ivy-theme());
