<div *ngIf="State.Step === SetupStepTypes['Review']">

    <h1
      fxLayoutAlign="center center"
      class="mat-display-1 title margin-bottom-4">
      Adding {{ State.OrganizationName }} to the Ecosystem
    </h1>

    <h2
      fxLayoutAlign="center center"
      class="h2 paragraph-title-bold margin-bottom-3">
      If you can Fathym It, you can Build It.
    </h2>

    <ng-container *ngIf="!State.HasDevOpsOAuth">
      <div fxLayout="column">
        <h2 class="h2">
          Get Connected with Azure DevOps
        </h2>

        <div fxLayout="row">
          <div fxFlex="20">
              <img style="width: 140%; margin-top: 1em;" src="assets/img/Azure-logo.png" />
          </div>
          <div fxFlex>
            <p class="weird-fix">
                We are nearly finished!
            </p>

            <a mat-raised-button color="accent" class="margin-top-3 weird-fix" [href]="AzureDevOpsOAuthURL">
                Get Connected with Azure Dev Ops
              </a>

            <!-- <p class="weird-fix">
              To get started, we need to get connected with an instance of Azure Dev Ops. Don't worry, you'll be able to migrate to
              other systems in the future if you have a different prefered flavor.
            </p> -->
          </div>
        </div>


      </div>
    </ng-container>

    <ng-container *ngIf="State.HasDevOpsOAuth">
      <ng-container *ngIf="!State.EnterpriseBooted">
        <div fxLayout="column">
          <h2 class="h2">
            Organization Infrastructure
          </h2>

          <div fxLayout="row">
            <div fxFlex="20">
                <img style="width: 140%;" src="assets/img/Azure-logo.png" />
            </div>
            <div fxFlex>
              <p class="weird-fix">
                We'll configure an enterprise scalable, and cost effective infrastructure for getting on the Azure cloud. Free until
                you scale.
              </p>

              <p class="weird-fix">
                We'll deploy a
                <a mat-button color="accent" href="https://letsencrypt.org/" target="_blank">Let's Encrypt (Open Surce) SSL Certificate</a> secured application
                host.
              </p>

              <p class="weird-fix">
                We'll manage Azure, other clouds and legacy infrastructure with our Enterprise Orchestration tools.
              </p>
            </div>
          </div>
        </div>

        <div fxLayout="column" class="margin-top-5">
          <h2 class="h2">
              Comprehensive Dev/Ops
          </h2>

          <div fxLayout="row">
              <div fxFlex="20">
                  <img style="width: 130%;" src="assets/img/azure-dev-ops-logo.png" />
              </div>
              <div fxFlex>
                  <p class="weird-fix">
                      We've gotten connected with your Azure Dev Ops instance and will help manage your code, builds, releases, and more.
                    </p>

                    <p class="weird-fix">
                      We'll get some git based source control setup for your infrastructure, and connect it to builds for auto deploying to
                      Azure.
                    </p>
              </div>
            </div>
        </div>

        <button
          mat-raised-button
          color="accent"
          class="margin-top-3 mat-full-width"
          (click)="Boot()" >
          Get Connected, Boot your Organization
        </button>
      </ng-container>

      <ng-container *ngIf="State.EnterpriseBooted">
            <div fxLayout="column">
                <h2 class="h2">
                    Application Hosting
                </h2>

            <div fxLayout="row">
              <div fxFlex="20">
                  <div style="height: 150px; width: auto" class="thinky-logo"></div>
              </div>
              <div fxFlex>
                <p class="mat-subheading-2">
                  The Dynamic Application Framework will provide a backbone for deliver javascript based front ends in a secure and
                  scalable manner. Simplifying the developer experience to just solving customer problems.
                </p>

                <p class="mat-subheading-2">
                  We'll take care of security, SSL hosting, and application serving as long as you want us to. Then we'll help you
                  upgrade your infrastructure to the services and scale you need.
                </p>
              </div>
              </div>
            </div>


            <div fxLayout="column">
                <h2 class="h2">
                    Auth & Auth
                </h2>

            <div fxLayout="row">
              <div fxFlex="20">
                  <div style="height: 150px; width: auto" class="thinky-logo"></div>
              </div>
              <div fxFlex>
                <p class="mat-subheading-2">
                  Easy to consume and use OAuth / Identity as a service, backed by the Auth/Auth provider of your choosing...
                </p>
              </div>
              </div>
              <button
                mat-raised-button
                color="accent"
                class="margin-top-3 mat-full-width"
                (click)="Finalize()"
                [disabled]="!State.TermsAccepted || !State.CanFinalize">

                <mat-icon *ngIf="!State.CanFinalize" class="icon-btn-spinner" matTooltip="Provisioning infrastructure resources, please wait." matTooltipClass="tooltip-background">
                  <mat-spinner diameter="24"></mat-spinner>
                </mat-icon>

                Finalize and Deploy your Organization

              </button>
            </div>
      </ng-container>
    </ng-container>
  </div>
