@import "../../../../../common/src/styles/theme";

.weird-fix {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
  margin-left: 10%;
}

.icon-btn-spinner {
  position: absolute;
  top: 5px;
  left: 10px;
}

::ng-deep {
  .mat-card .mat-divider-horizontal {
    position: relative;
  }
}

:host ::ng-deep {
  .mat-list-base {
    .mat-list-item {
      margin-bottom: 1rem;
      margin-top: 1rem;
      height: auto !important;
      // border-bottom: solid 1px #000;
      border-collapse: collapse;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .mat-list-item-content {
        padding: 0 0 0 16px;

        .mat-list-icon {
          position: absolute;
        }

        .mat-list-text {
          margin-left: 30px;
        }
      }

      .mat-raised-button {
        float: right;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        white-space: normal !important;
      }

      .mat-line {
        white-space: normal !important;
      }
    }
  }
}
