@import '../../../../../common/src/styles/theme';

.weird-fix{
    font:400 16px/28px Roboto, "Helvetica Neue", sans-serif;
    margin-left: 10%;
}

.icon-btn-spinner {
  position: absolute;
  top: 5px;
  left: 10px;
}
