/**
* Common theme for sharing $global-theme and dynamically
* created variant theme color classes
*/
@import "../../common/assets/common-theme";

$primary: map-get($global-theme, primary);

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity); /* For IE8 and earlier */
}

  .bg-image {
    z-index: -100;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    @include opacity(.35);
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bg-image {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }
