<form *ngIf="State.Step === 'Setup'"> <!-- TODO: Change to enum -->
  <mat-card>
    <mat-accordion>
    <mat-expansion-panel [expanded]="ExpandActivityBar">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Activity Bar
        </mat-panel-title>

        <mat-panel-description>
          Setup your IDE Activity Bar
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-expansion-panel-header>
          <mat-panel-title>
            Side Bar
          </mat-panel-title>

          <mat-panel-description>
            Setup your IDE Side Bar
          </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
</form>
