@import '../../../styles.scss';

$primary: map-get($global-theme, primary);
$card-color: mat-color(map-get($global-theme, background), card);

.inner-accordion {
  .mat-expansion-panel {
    background-color: lighten($card-color, 10%);

    .mat-expansion-panel-header {
        background-color: mat-color($primary, A700);

        > span {
          height: 100% !important;
        }

        .mat-expansion-panel-header-title {
          margin: 1em !important;
        }
    }
  }

  .mat-content {
    height: 100% !important;
  }
}
