<form>
  <mat-accordion>
    <mat-expansion-panel [expanded]="ExpandActivityBar">
      <!-- ACTIVITY BAR CONFIGURATION PANEL -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Activity Bar
        </mat-panel-title>

        <mat-panel-description>
          Setup your IDE Activity Bar
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-progress-bar
        mode="indeterminate"
        *ngIf="State.Loading"
      ></mat-progress-bar>

      <mat-nav-list class="activities">
        <ng-container *ngFor="let activity of State.Activities">
          <mat-list-item *ngIf="State.EditActivity != activity.Lookup">
            <a matLine (click)="SetEditActivity(activity)">
              <mat-icon>{{ activity.Icon }}</mat-icon>

              {{ activity.Title }} ({{ activity.Lookup }})
            </a>

            <button
              mat-icon-button
              color="primary"
              (click)="SetEditActivity(activity)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              (click)="DeleteActivity(activity)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>

          <mat-list-item *ngIf="State.EditActivity == activity.Lookup">
            <div matLine>
              {{ activity.Lookup }}

              <mat-form-field>
                <input
                  matInput
                  placeholder="Title"
                  [(ngModel)]="activity.Title"
                  name="actTitle"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Lookup"
                  [(ngModel)]="activity.Lookup"
                  name="actLookup"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Icon"
                  [(ngModel)]="activity.Icon"
                  name="actIcon"
                />
                <mat-icon matSuffix>{{ activity.Icon }}</mat-icon>
              </mat-form-field>
            </div>

            <button
              mat-icon-button
              color="primary"
              (click)="SaveActivity(activity)"
            >
              <mat-icon>save</mat-icon>
            </button>

            <a mat-icon-button color="warn" (click)="SetEditActivity(null)">
              <mat-icon>cancel</mat-icon>
            </a>
          </mat-list-item>
        </ng-container>

        <mat-list-item *ngIf="!State.AddNew?.Activity">
          <a matLine (click)="ToggleAddNewActivity()">
            <mat-icon>add</mat-icon>

            Add New Activity
          </a>
        </mat-list-item>

        <form [formGroup]="NewActivityForm" (ngSubmit)="AddNewActivity()">
          <mat-list-item *ngIf="State.AddNew?.Activity">
            <div matLine>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Title"
                  formControlName="title"
                  required
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Lookup"
                  formControlName="lookup"
                  required
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Icon"
                  formControlName="icon"
                  required
                />

                <mat-icon matSuffix>{{
                  NewActivityForm.get("icon").value
                }}</mat-icon>
              </mat-form-field>
            </div>

            <button mat-icon-button color="primary" type="submit">
              <mat-icon>save</mat-icon>
            </button>

            <a mat-icon-button color="warn" (click)="ToggleAddNewActivity()">
              <mat-icon>cancel</mat-icon>
            </a>
          </mat-list-item>
        </form>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- SIDE BAR CONFIGURATION PANEL -->
    <mat-expansion-panel
      *ngIf="State.Activities?.length > 0"
      [expanded]="ExpandSideBar"
      style="margin-bottom: 20px;"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Side Bar
        </mat-panel-title>

        <mat-panel-description>
          Setup your IDE Side Bar
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="mat-headline title title">
        Manage Configuration of

        <mat-form-field>
          <mat-select
            placeholder="Activity Bar"
            [value]="State.SideBarEditActivity"
            (selectionChange)="SetSideBarEditActivity($event)"
          >
            <ng-container *ngFor="let activity of State.Activities">
              <mat-option [value]="activity.Lookup">
                {{ activity.Title }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-progress-bar
        mode="indeterminate"
        *ngIf="State.Loading && !State.EditSection"
      ></mat-progress-bar>

      <mat-nav-list class="activities">
        <mat-accordion>
          <ng-container *ngFor="let section of State.SideBarSections">
            <mat-expansion-panel
              [expanded]="CurrentSection === section"
              (opened)="SetEditSection(section)"
            >
              <mat-expansion-panel-header>
                <mat-panel-title style="margin-top: 0.75em;">
                  {{ section }}
                </mat-panel-title>

                <mat-panel-description fxLayoutAlign="flex-end">
                  <ng-container>
                    <!-- *ngIf="section != State.EditSection" -->
                    <!-- <button mat-icon-button color="primary" class="spread-thin" (click)="SetEditSection(section)">
                      <mat-icon>edit</mat-icon>
                    </button> -->

                    <button
                      mat-icon-button
                      color="warn"
                      class="spread-thin"
                      (click)="DeleteSideBarSection(section)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>

                  <!-- <ng-container *ngIf="section == State.EditSection">
                    <button mat-icon-button color="accent" class="spread-thin" (click)="SetEditSection(null)">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </ng-container> -->
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- <div *ngIf="section == State.EditSection"> -->
              <div>
                <mat-progress-bar
                  mode="indeterminate"
                  *ngIf="State.Loading"
                ></mat-progress-bar>

                <mat-nav-list *ngIf="!State.Loading">
                  <ng-container
                    *ngFor="let sectionAction of State.SectionActions"
                  >
                    <mat-list-item
                      *ngIf="State.EditSectionAction != sectionAction.Action"
                    >
                      <a matLine (click)="SetEditSectionAction(sectionAction)">
                        {{ sectionAction.Title }}
                      </a>

                      <button
                        mat-icon-button
                        color="primary"
                        (click)="SetEditSectionAction(sectionAction)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>

                      <button
                        mat-icon-button
                        color="warn"
                        (click)="DeleteSectionAction(sectionAction)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-list-item>

                    <mat-list-item
                      *ngIf="State.EditSectionAction == sectionAction.Action"
                    >
                      <div matLine>
                        <mat-form-field>
                          <input
                            matInput
                            placeholder="Title"
                            [(ngModel)]="sectionAction.Title"
                            name="secActTitle"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </mat-form-field>

                        <mat-form-field>
                          <mat-select
                            placeholder="LCU"
                            [(ngModel)]="sectionAction.Group"
                            name="secActGroup"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <mat-option
                              [value]="group"
                              *ngFor="let group of LCUGroups"
                              >{{ group }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="sectionAction.Group">
                          <mat-select
                            placeholder="Action"
                            [(ngModel)]="sectionAction.Action"
                            name="secActAction"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <mat-option
                              [value]="action"
                              *ngFor="
                                let action of State.LCUSolutionOptions[
                                  sectionAction.Group
                                ]
                              "
                              >{{ action }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="!sectionAction.Group">
                          <input
                            matInput
                            placeholder="Action"
                            [(ngModel)]="sectionAction.Action"
                            name="secActAction"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </mat-form-field>
                      </div>

                      <button
                        mat-icon-button
                        color="primary"
                        (click)="SaveSectionAction(sectionAction)"
                      >
                        <mat-icon>save</mat-icon>
                      </button>

                      <a
                        mat-icon-button
                        color="warn"
                        (click)="SetEditSectionAction(null)"
                      >
                        <mat-icon>cancel</mat-icon>
                      </a>
                    </mat-list-item>
                  </ng-container>

                  <ng-container *ngIf="!State.AddNew?.SectionAction">
                    <mat-list-item>
                      <a matLine (click)="ToggleAddNewSectionAction()">
                        <mat-icon>add</mat-icon>
                        Add New Action
                      </a>
                    </mat-list-item>
                  </ng-container>

                  <ng-container *ngIf="State.AddNew?.SectionAction">
                    <form
                      [formGroup]="NewSectionActionForm"
                      (ngSubmit)="AddNewSectionAction()"
                    >
                      <mat-list-item>
                        <div matLine>
                          <mat-form-field>
                            <input
                              matInput
                              placeholder="Title"
                              formControlName="title"
                              required
                            />
                          </mat-form-field>

                          <mat-form-field>
                            <mat-select
                              placeholder="LCU"
                              formControlName="group"
                              #newSecActGroup
                            >
                              <mat-option
                                [value]="group"
                                *ngFor="let group of LCUGroups"
                                >{{ group }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field *ngIf="newSecActGroup.value">
                            <mat-select
                              placeholder="Action"
                              formControlName="action"
                            >
                              <mat-option
                                [value]="action"
                                *ngFor="
                                  let action of State.LCUSolutionOptions[
                                    newSecActGroup.value
                                  ]
                                "
                                >{{ action }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <button mat-icon-button color="primary" type="submit">
                          <mat-icon>save</mat-icon>
                        </button>

                        <a
                          mat-icon-button
                          color="warn"
                          (click)="ToggleAddNewSectionAction()"
                        >
                          <mat-icon>cancel</mat-icon>
                        </a>
                      </mat-list-item>
                    </form>
                  </ng-container>
                </mat-nav-list>
              </div>
            </mat-expansion-panel>
          </ng-container>

          <ng-container>
            <mat-list-item
              *ngIf="!IsNewSideBarSection"
              style="margin-bottom: 2em;"
            >
              <a matLine (click)="ToggleAddNewSideBarSection()">
                <mat-icon>add</mat-icon>
                Add New Side Bar Section
              </a>
            </mat-list-item>
            <form
              [formGroup]="NewSideBarSectionForm"
              (ngSubmit)="AddSideBarSection()"
              *ngIf="IsNewSideBarSection"
            >
              <div fxLayoutAlign="space-between">
                <mat-form-field style="width: 33%">
                  <input
                    matInput
                    placeholder="Section Name"
                    formControlName="name"
                    required
                  />
                </mat-form-field>

                <div>
                  <button
                    mat-icon-button
                    color="primary"
                    type="submit"
                    [disabled]="!NewSideBarSectionForm.valid"
                  >
                    <mat-icon>save</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    color="warn"
                    (click)="ToggleAddNewSideBarSection()"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </div>
            </form>
          </ng-container>
        </mat-accordion>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</form>
