<div *ngIf="State.Loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!State.Loading" class="identity">
  <router-outlet></router-outlet>
</div>

  <!-- <div fxFlex="30%" fxFlex.lt-md="100%" class="details">
    <div class="inner">
      <mat-nav-list>
        <mat-list-item>
          <div matLine style="height: 6em; margin: 1em 0 1em 0">
            <h1>Enterprise IDE Settings</h1>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <ng-container *ngIf="!MainLoading">
          <ng-container>
            <mat-list-item
              *ngIf="State.Arch?.LCUs?.length > 0 && LCUGroups?.length > 0"
              class="list-item"
              [class.active-mat-list-item]="State.Step === 'Setup'"
              (click)="SetStep('Setup')">
                <mat-icon matListIcon>chevron_right</mat-icon>

                <div matLine>
                  <h2 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Setup</h2>
                </div>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <ng-container>
            <mat-list-item
              *ngIf="State.Arch?.LCUs?.length > 0"
              class="list-item"
              [class.active-mat-list-item]="State.Step === 'Configuration'"
              (click)="SetStep('Configuration')">
                <mat-icon matListIcon>chevron_right</mat-icon>

                <div matLine>
                  <h2 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Configuration</h2>
                </div>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <ng-container>
            <mat-list-item
              class="list-item"
              [class.active-mat-list-item]="State.Step === 'Architecture'"
              (click)="SetStep('Architecture')">
                <mat-icon matListIcon>chevron_right</mat-icon>

                <div matLine>
                  <h2 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Architecture</h2>
                </div>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-nav-list>


    </div>
  </div>
  <div fxFlex="70%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="0" class="content">
    <div class="inner">
      <div>
        <div *ngIf="!State.Loading">
          <mat-card>
            <lcu-settings-setup
            #SettingsSetupComponent
            [setting-step-types]="SettingStepTypes"
            [state]="State"></lcu-settings-setup>

            <lcu-settings-config
            #SettingsConfigComponent
            [setting-step-types]="SettingStepTypes"
            [state]="State"></lcu-settings-config>

            <lcu-settings-arch
            #SettingsArchComponent
            [setting-step-types]="SettingStepTypes"
            [state]="State"></lcu-settings-arch>
          </mat-card>
        </div>
        <div *ngIf="State.Loading">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div> -->
