<form
  *ngIf="State.SetupStep == SetupStepTypes.OrgDetails"
  [formGroup]="DetailsForm"
  (ngSubmit)="SetOrgDetails()"
>
  <h1 fxLayoutAlign="center center" class="mat-display-1 title margin-bottom-4">
    Get Set Up Now
  </h1>

  <mat-form-field class="mat-full-width">
    <input
      matInput
      placeholder="Project Name"
      formControlName="orgDetailName"
      required
    />

    <mat-icon
      matSuffix
      matTooltip="Enter a unique name for your new project"
      matTooltipClass="tooltip-background"
      >help_outline</mat-icon
    >
  </mat-form-field>

  <!-- <mat-form-field class="mat-full-width">
    <textarea
      matInput
      placeholder="Description"
      formControlName="orgDetailDesc"
      required
    ></textarea>

    <mat-icon
      matSuffix
      matTooltip="Enter a useful description for your new organization"
      matTooltipClass="tooltip-background"
      >help_outline</mat-icon
    >
  </mat-form-field> -->

  <mat-form-field class="mat-full-width">
    <input
      matInput
      placeholder="Project Lookup"
      formControlName="orgDetailLookup"
      required
    />

    <mat-error *ngIf="OrgDetailLookupHasError">
      {{ OrgDetailLookupErrorMessage }}
    </mat-error>

    <mat-icon
      matSuffix
      matTooltip="Enter a valid project lookup (lowercase alpha characters and '-' accepted)"
      matTooltipClass="tooltip-background"
    >
      help_outline
    </mat-icon>
  </mat-form-field>

  <div class="spread">
    <mat-checkbox formControlName="orgDetailTerms" required>
      By checking this box, you agree to enter into and be bound by the
      <a href="https://fathym.com/enterprise-agreement/">
        Enterprise Agreement
      </a>
      and
      <a href="https://fathym.com/terms-of-services/">
        Fathym Terms of Services </a
      >.
    </mat-checkbox>
  </div>

  <button
    mat-raised-button
    color="accent"
    class="mat-full-width"
    [disabled]="!DetailsForm.valid"
  >
    Set Up Project Infrastructure
  </button>
</form>
