<!-- <mat-toolbar> -->
  <h1 lcuTrademark>My </h1>
<!-- </mat-toolbar> -->
<form>
  <!-- <form *ngIf="State.Step === SettingStepTypes['Architecture']"> -->
  <mat-card>
    <mat-nav-list>
      <ng-container *ngFor="let lcu of State.Arch?.LCUs">
        <mat-list-item *ngIf="State.Arch.EditLCU != lcu.Lookup">
          <a matLine (click)="SetEditLCU(lcu)">
            {{ lcu.Lookup }}
            <small>({{ lcu.NPMPackage }}@{{ lcu.PackageVersion }})</small>
          </a>

          <button mat-icon-button color="primary" (click)="SetEditLCU(lcu)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="UpdateLCU(lcu)">
            <mat-icon>update</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="DeleteLCU(lcu)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item *ngIf="State.Arch.EditLCU == lcu.Lookup">
          <div matLine>
            {{ lcu.Lookup }}

            <mat-form-field class="spread">
              <input
                matInput
                placeholder="NPM Package"
                [(ngModel)]="lcu.NPMPackage"
                name="npmPkg"
              />
            </mat-form-field>

            <mat-form-field class="spread">
              <input
                matInput
                placeholder="Package Version"
                [(ngModel)]="lcu.PackageVersion"
                name="pkgVer"
              />

              <a
                mat-icon-button
                matSuffix
                [href]="'https://www.npmjs.com/package/' + lcu.NPMPackage"
                target="_blank"
              >
                <mat-icon>help</mat-icon>
              </a>
            </mat-form-field>
          </div>

          <button mat-icon-button color="primary" (click)="SaveLCU(lcu)">
            <mat-icon>save</mat-icon>
          </button>

          <a mat-icon-button color="warn" (click)="SetEditLCU(null)">
            <mat-icon>cancel</mat-icon>
          </a>
        </mat-list-item>
      </ng-container>

      <mat-list-item *ngIf="!State.AddNew?.LCU">
        <a matLine (click)="ToggleAddNewLCU()">
          <mat-icon>add</mat-icon>

          <span lcuTrademark>Add New </span>
        </a>
      </mat-list-item>

      <form [formGroup]="NewLCUForm" (ngSubmit)="AddNewLCU()">
        <mat-list-item *ngIf="State.AddNew?.LCU">
          <div matLine>
            <mat-form-field>
              <input
                matInput
                placeholder="Lookup"
                formControlName="lookup"
                required
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="NPM Package"
                formControlName="npmPkg"
                required
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Package Version"
                formControlName="pkgVer"
                required
              />
            </mat-form-field>
          </div>

          <button mat-icon-button color="primary" type="submit">
            <mat-icon>save</mat-icon>
          </button>

          <a mat-icon-button color="warn" (click)="ToggleAddNewLCU()">
            <mat-icon>cancel</mat-icon>
          </a>
        </mat-list-item>
      </form>

      <mat-list-item *ngIf="!State.AddNew?.LCU">
        <a matLine (click)="AddDefaultDataAppsLCUs()">
          <mat-icon>add</mat-icon>

          Add Default Data Apps Configuration to IDE
        </a>
      </mat-list-item>

      <mat-list-item *ngIf="!State.AddNew?.LCU">
        <a matLine (click)="AddDefaultDataFlowsLCUs()">
          <mat-icon>add</mat-icon>

          Add Default Data Flows Configuration to IDE
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</form>
