@import '../../../styles.scss';

// PRO
$Pro-primary: mat-color(map-get($global-theme, primary), A200);
$Pro-trans: mat-color(map-get($global-theme, primary), A200,10%);
// Starter
// $Starter-primary: mat-color(map-get($global-theme, primary), A100);
// $Starter-trans: mat-color(map-get($global-theme, primary), A100, 90%);
// INTER
// $Inter-primary: mat-color(map-get($global-theme, primary), A400);
// $Inter-trans: mat-color(map-get($global-theme, primary), A400, 90%);

$Main-font: map-get(map-get($global-theme, 'foreground'), 'secondary-text');
$Fathym-Grey: mat-color(map-get($global-theme, primary), 300);


// $Plan-Card-BG: slategrey;

$Fathym-Green: mat-color(map-get($global-theme, primary), A200);
$Fathym-Green-BG: mat-color(map-get($global-theme, primary), A200,.5);
// $Text-color: mat-color(map-get($global-theme, primary), default-contrast);
$Trans-container: rgba(map-get(map-get($global-theme, 'background'), 'background'), .5);

// $Billing-BG: #f5f5f5;
// $Input-box-color: #f5f5f5;
// $Fathym-Grey: slategray;

@mixin input-box() {
  // background-color: $color;
  border-radius: 2px;
  margin: 10px 0px;
  padding: 5px;
  color:$Main-font !important;
  // input:-webkit-autofill,
  // input:-webkit-autofill:hover, 
  // input:-webkit-autofill:focus,
  // textarea:-webkit-autofill,
  // textarea:-webkit-autofill:hover,
  // textarea:-webkit-autofill:focus,
  // select:-webkit-autofill,
  // select:-webkit-autofill:hover,
  // select:-webkit-autofill:focus {
  //     transition: background-color 5000s !important;
  //     color:$Main-font !important;

  // }
}

@mixin stripe-billing-container($global-theme-color, $trans){
  // height: 100%;
  // background-color: $Billing-BG !important;
  height:450px;
  padding: 10px;
  // border: 1px solid $theme-color;
  // border-radius: 3px;
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 3px !important;

  .fathym-logo-container{
    height: 100px;
    width:100px;
    .fathym-logo{
      background-image: fathym-logo(thinky-circle, $global-theme-color, 1);
      background-repeat: no-repeat;
      background-size: 100px;
      height: 100px;
      width: 100px;
      background-color: $trans;
      border-radius: 50px;
    }
  }
  .billing-header-section{
    margin-left: 20px;
    color: $Main-font;
    .fathym-header{
      margin-bottom: 5px;
      margin-top:5px;
     }
  }
  

  .billing-page-container {
    padding: 13px 20px 0px;
    margin-bottom: 0px;
    
    .plan-card-container{
      overflow: auto;    
    }
    .payment-info-container{
      width: 100%;
      .billing-form{
        width: 100%;
        .form-row{
          .billing-info{
            width: 100%;
          .cardholder-name-input{
            // @include input-box($Input-box-color);
            @include input-box();
            margin: 0px;
            padding: 0px;
            border: none;
            color:$Main-font;
            font-weight: 600;
            font-size: 16px;
            // width: 500px;
            width:100%;
            outline: none;
            
            
          }
          .cardholder-label{
            margin-left: -6px;
          }
          .user-input-icon{
            color: $Main-font;
            margin-right: 8px;
            margin-left: 5px;
          }
          .stripe-card{
            // @include input-box($Input-box-color);
            @include input-box();
            color:$Main-font !important;
            // width:500px;
            width:100%;
            border-bottom: 1px solid $Main-font;
            border-radius: 0px;
          }
            
            .stripe-card-error{
              @include input-box();
              color:red !important;
              width:100%;
              border-bottom: 1px solid red;
              border-radius: 0px;
          }
        }
        }
    
        .toggle-button-container{
          width:100%;
    
          .plan-cost-selection-container{
            // background-color: $trans;
            padding:10px;
            border-radius: 3px;
            width:100%;

            .price-interval{
              margin: 5px 0px;
            }
          }
          .interval-radio-button{
            margin-right: 100px;
            // color: black !important;
          }
        }
        .required-opt-ins{
          width:100%;
          margin-top: 10px;
          .checkbox-label{
            font-size: 12px;
            #ea-anchor{
              color:$Pro-primary
            }
            #tos-anchor{
              color: $Pro-primary;
            }
          }
        }
        .billing-card-footer{
          width: 100%;
          

          
        
        .button-container{
          // width: 100%;
          padding: 10px 0px 0px;
          .buy-now-button{
            width: 150px;
            // background-color: $global-theme-color;
            // color: white;
            letter-spacing: 1px;
          }
        }
      }
        
      }
    }
  }
  
  
}



.asterisk{
  color: red;
}

.important-note-container{
  padding: 5px 10px;
  // border-radius: 3px;
  // background-color:$Trans-container;
  // background-color: rgba(255,255,255,0.1);
  font-size: 12px;
  font-weight: bold;
  
  .important-note{
    font-style: italic;
    color: $Main-font;
  }
}

.slogan{
  // color: $Text-color;
  margin-bottom: 0px;
}

.billing-card{
  @include stripe-billing-container($Pro-primary, $Pro-trans);
}
// .one-billing{
//   @include stripe-billing-container($Starter-primary, $Starter-trans);

// }

// .two-billing{
//   @include stripe-billing-container($Pro-primary, $Pro-trans);

// }

// .three-billing{
//   @include stripe-billing-container($Inter-primary, $Inter-trans);
// }
// .four-billing{
//   @include stripe-billing-container($Inter-primary, $Inter-trans);
// }

  

 .spread{
   width: 100%;
   color: red;
 }

  // .back-arrow{
  //   position: relative;
  //   top: -38px;
  //   left: 20px;
  //   cursor: pointer;
  //   z-index: 1;
  // }

  ::ng-deep .mat-radio-label{
    margin: 5px 0px;
  }

  // OTHER STRIPE STYLES/////////////////////////////////////////////////

  // .stripe-container{
      //   width: 510px;
      //   .card-num-container{
      //     // width: 230px;
      //     margin-right: 40px;
      //     #card-number{
      //       width:160px;
      //     }
      //   }
      //   .expiry-date-container{
      //     margin-right: 40px;
      //     #card-expiry{
      //       width: 65px;
      //     }
      
      //   }
      //   .cvc-num-container{
      //     width: 100px;
      //     #card-cvc{
      //       width: 45px;
      //     }
      //   }
      // }
// }

