@import '../../../node_modules/@lcu/common/assets/theming/common-theme';
@import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';

$global-theme: fathym-ivy-theme(true);

// :root {
//     --global-theme: $global-theme;
    
// }

/**
* Or, can call create-theme and pass in your own palatte colors
*/
// $global-theme: create-theme($fathym-primary, $fathym-accent, $fathym-warn, true);
$global-background: map-get(map-get($global-theme, background), 'background');

/**
* Set the theme and generate dynamic variant theme classes,
* theme-setup is inside of Ref Arch (common-theme)
*
* If we skip this @include, the default theme is 'fathym-ivy-theme'
*/
@include theme-setup($global-theme);

/**
* Common styles for Napkin-IDE projects
*
* If this starts to get big, think about moving these to another stylesheet
*/
.spinner-logo {
    position: absolute;
    background-image: fathym-logo(thinky-logo,black, 1 );
    height: 50px !important;
    width: 50px !important;
    background-repeat:no-repeat;
}
