<!-- MAIN SCREEN -->
<div [fxShow]="!State.Loading" class="plan-page-container"  fxLayout="column" fxLayoutAlign="center center" >
  <h3 class="choose-header" fxLayoutAlign="center center">Choose Your Perfect Plan</h3>
  <div  fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column"
        fxLayoutAlign="center center"
        fxLayoutGap="30px"  >

    <div *ngFor="let plan of DisplayedPlans">

      <lcu-plan-card
        class='lcu-plan-card'
        [featured-plan-group]="State.FeaturedPlanGroup"
        [popular-plan-group] = "State.PopularPlanGroup"
        [plan]="plan"
        [all-plans]="State.Plans"
        [displayed-plans]="DisplayedPlans"
        [show-button]="ShowButton"
        (buy-now-clicked)="BuyNowClicked($event)"
        >
      </lcu-plan-card>

    </div>
  </div>
  <h2 fxLayoutAlign="center center" class="tag-line">If You Can Fathym It, You Can Build It.</h2>
</div>

 <!-- LOADING SCREEN -->
 <div [fxShow]="State.Loading">


  <div fxLayout="row" fxLayoutAlign="center center" class="spinner-container">
    <mat-spinner diameter="75"></mat-spinner>
    <div class="spinner-logo" logo-alt="Fathym Logo"></div>
  </div>
</div>
