<div [fxShow]="!State.Loading">
  <!-- fxLayoutAlign="space-around center"  -->
  <h3 class="choose-header" fxLayoutAlign="center center">Choose Your Perfect Plan</h3>
  <div  fxLayout.lg="row wrap" fxLayout.sm="column" fxLayout.xs="column"
        fxLayoutAlign="center center"
        fxLayoutGap="30px">
        
    <div *ngFor="let plan of DisplayedPlans">

      <lcu-plan-card
        class='lcu-plan-card'
        [featured-plan-group]="State.FeaturedPlanGroup"
        [show-toggle]="ShowToggle"
        [intervals]="Intervals"
        [plan]="plan"
        [all-plans]="State.Plans"
        [displayed-plans]="DisplayedPlans"
        [plan-groups]="PlanGroups"
        [show-button]="ShowButton"
        (buy-now-clicked)="BuyNowClicked($event)"
        (interval-toggled)="IntervalToggled($event, plan)">
      </lcu-plan-card>

    </div>
  </div>
  <h2 fxLayoutAlign="center center" class="tag-line">If You Can Fathym It, You Can Build It.</h2>
</div>

 <!-- LOADING SCREEN -->
 <div [fxShow]="State.Loading">
  <p style="text-align: center; margin-top: 0px;">
    <span lcuTrademark>Behind the scenes, Thinky is working hard to set up your </span>
  </p>

  <div fxLayout="row" fxLayoutAlign="center center" class="spinner-container">
    <mat-spinner diameter="75"></mat-spinner>
    <div class="spinner-logo" logo-alt="Fathym Logo"></div>
  </div>
</div>
