<div [fxShow]="!State.Loading">
  <!-- fxLayoutAlign="space-around center"  -->
  <div *ngFor="let plan of State.Plans" 
        fxLayout="row wrap" 
        fxLayoutAlign="space-around center" 
        fxLayoutGap="20px">

    <lcu-plan-card 
      [plan]="plan" 
      [show-button]="ShowButton"
      (buy-now-clicked)="BuyNowClicked($event)">
    </lcu-plan-card>

    <!-- <lcu-plan-card 
      [plan]="plan" 
      [show-button]="ShowButton"
      (buy-now-clicked)="BuyNowClicked($event)">
    </lcu-plan-card>

    <lcu-plan-card 
      [plan]="plan" 
      [show-button]="ShowButton"
      (buy-now-clicked)="BuyNowClicked($event)">
    </lcu-plan-card> -->
  </div>
</div>

 <!-- LOADING SCREEN -->
 <div [fxShow]="State.Loading">
  <p style="text-align: center;">
    Behind the scenes Thinky is working hard to set up your Low Code Unit
  </p>

  <div fxLayout="row" fxLayoutAlign="center center" class="spinner-container">
    <mat-spinner diameter="75"></mat-spinner>
    <div class="spinner-logo" logo-alt="Fathym Logo"></div>
  </div>
</div>
