@import '../../../styles.scss';

  $Fathym-Green: mat-color(map-get($global-theme, primary), A200);
  $BG-color: transparentize(#f5f5f5, .1);
  $Text-color: mat-color(map-get($global-theme, primary), default-contrast);

  .success-page{
    height: 100%;
  .fathym-logo{
    background-image: fathym-logo(thinky-circle, $Fathym-Green, 1);
    background-repeat: no-repeat;
    background-size: 90px;
    height: 90px;
    width: 90px;
  }
  .success-container{
    height: 100%;
    width: 100%;
    background-color: $BG-color !important;
    padding: 15px;
    margin-top: 10px;
    border-radius: 2px;
    color: $Text-color;

  .success-heading{
    // background-color: $Fathym-Green;
    width: 100%;
    .fathym-header{
      margin:0px;
      margin-top:10px;
    }
    .succ-text{
      margin: 5px 0px;
      font-size: 15px;
    }
  }
  .order-summary-container{
    width:100%;
    padding: 0px 25px;
    
    .order-summary{
      width: 100%;
      .item{
        margin-bottom: 10px;
          .note{
            font-size: 12px;
          }
      }
    }
  }
  .actions-container{
    width: 90%;
    margin-bottom: 10px;
    .redirect-button{
      background-color: $Fathym-Green;
      width: 100%;
      color: $Text-color;
    }
  }
  }
  }

  .bold{
    font-weight: bold;
  }
  hr{
    border: .5px solid $Text-color;
      width: 100%;
  }
  .dashed-hr{
    border:.5px dashed $Text-color;
    width: 100%;
  }
