@import '../../../../../common/src/styles/theme';

@mixin org($theme) {
  $config: mat-typography-config();

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  :host {
    .identity {
      height: 100%;
      min-height: 500px;
      position: relative;
      box-sizing: border-box;

      .details,
      .content {
        box-sizing: border-box;
      }

      .content {
        .inner {
          height: 100%;
          min-height: 600px;
          padding: 2rem;
          display: flex;
          text-align: center;
          align-items: center;
          min-height: inherit;
          box-sizing: border-box;
          justify-content: center;
        }
      }

      .details .inner {
        .mat-list,
        .mat-nav-list {
          .mat-list-text {
            color: $nide-white;
          }
        }

        .mat-list-base {
          .mat-list-item {
            color: $nide-white;
          }
        }
      }

      .inner {
        text-align: center;

        .mat-list,
        .mat-nav-list {
          text-align: left;
          width: 100%;
        }

        .mat-list-base {
          .mat-list-item {
            height: auto !important;

            .mat-line {
              white-space: normal !important;
            }
          }
        }
      }

      .details {
        width: 30%;
        color: $nide-white;
        background-size: cover;
        background-position: 50% 0;
        background-image: linear-gradient(transparentize(mat-color($primary), 0.2), transparentize(mat-color($primary), 0.2)),
          url(https://c1.staticflickr.com/8/7451/26797700615_76d3215c42_b.jpg);

        // a {
        //   width: 80%;
        //   margin-top: 4rem;
        //   font-size: 24px;
        //   padding: 10px 25px;
        //   line-height: 48px;
        //   border-color: $nide-white;
        //   border-width: 5px;
        //   color: $nide-white;
        // }
      }

      .content {
        width: 70%;
        background-color: $nide-white;

        ::ng-deep {
          .mat-form-field {
            display: block;
          }

          .mat-card {
            margin: 2rem;

            .mat-subtitle paragraph-title {
              margin: 1rem;
            }
          }

          .mat-raised-button {
            width: 80%;
            font-size: 24px;
            line-height: 48px;
            // color: $nide-white;
          }
        }
      }
    }
  }
}

@include org($nide-theme);
