<div class="marketplace-overview-container" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="featured-content">
        <!-- <div class="primary-logo" logo-alt="Fathym Logo"></div> -->

        <h1>Fathym Forecast API</h1>
    </div>

    <div class="marketplace-categories" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="category" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-icon>trending_up</mat-icon>
            <p>Data Flow</p>
        </div>
        <div class="category" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-icon>track_changes</mat-icon>
            <p>IOT</p>
        </div>
        <div class="category" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-icon>apps</mat-icon>
            <p>Data Apps</p>
        </div>
        <div class="category" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-icon>language</mat-icon>
            <p>State</p>
        </div>
    </div>
</div>