<div class="marketplace-overview-container" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="featured-container" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="secondary-logo" logo-alt="Fathym Logo"></div>
        <div class="featured-content" fxLayout="column" fxLayoutAlign="center start">
            <h1>Fathym Forecast API</h1>
            <p>Info on Fathym Forecast API: How can we help you travel safer and smarter?</p>
        </div>
    </div>

    <div class="marketplace-categories" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="category" fxLayout="column" fxLayoutAlign="space-around center" 
        *ngFor="let offering of ServiceOfferings">
            <mat-icon>{{ offering.icon }}</mat-icon>
            <p>{{ offering.name }}</p>
        </div>
    </div>
</div>