/**
* Common theme for sharing $global-theme and dynamically
* created variant theme color classes
*/
@import "../../common/assets/common-theme";
@import "../src/app/pages/ide/ide/ide.component.scss";
@import "../../../node_modules/@lowcodeunit/lcu-guided-tour-common/assets/styles/lcu-guided-tour.scss";

@mixin component-themes($theme) {
  @include thinky-bot($theme);
  @include thinky-bounce($theme);
  @include thinky-chat($theme);
  @include guided-tour($theme);
  @include ide-component($theme);

  .settings-dialog-overlay {
    position: relative !important;

    .mat-dialog-container {
      padding: 0 !important;
    }
  }

}

.user-account-dialog-container .mat-dialog-container{
  padding:5px !important;
  overflow: hidden;
}

/**
* Apply theme to nested components
*/
@include component-themes($global-theme);
