<div *ngIf="State.Step === SetupStepTypes['Terms']">
  <h1 fxLayoutAlign="center center" class="mat-display-1 title margin-bottom-4">
    Fathym Enterprise Agreement
  </h1>


  <div [innerHTML]="State.Terms" fxLayoutAlign="center"></div>

  <a href="https://fathym.com/terms-of-services/">
    <button mat-button class="mat-full-width" color="warn">
      Terms & Conditions
    </button>
  </a>

  <button mat-raised-button color="accent" class="mat-full-width" (click)="AcceptTerms()">
    Accept
  </button>

  <a href="https://fathym.com/terms-of-services/" >
    <button 
      mat-button 
      class="mat-full-width" 
      style="margin-top: 0.5em"
      color="warn">
      Terms & Conditions
    </button>
    </a>

</div>
