:host {
  .side-bar-header {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
  }

  .mat-accordion {
    width: 100%;

    .mat-expansion-panel {
      // background: none;
    }
  }
}
