<div fxLayout="row wrap" fxLayoutAlign="center stretch" class="identity">
  <div fxFlex="30%" fxFlex.lt-md="100%" class="details">
    <div class="inner">
      <mat-nav-list>
        <mat-list-item>
          <div matLine class="slogan" style="height: 6em; margin: 1em 0 1em 0">
            <!-- <div class="logo"> -->
              <!-- <div *ngIf="LogoClass" [ngClass]="LogoClass"></div> not really using this-->
              <!-- <div class="primary-logo"></div> -->
            <!-- </div> -->
            <!-- <h1 class="center title">
              <img src="../../../assets/img/fathym_logo_screen.png" />
              Fathym It. Build It.
            </h1> -->
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <ng-container *ngIf="State.Step">
          <ng-container>
            <mat-list-item *ngIf="State.Step === SetupStepTypes.OrgDetails" class="active-mat-list-item">
              <mat-icon matListIcon>chevron_right</mat-icon>

              <div matLine>
                <h2 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Organization Details</h2>

                <p class="mat-subheading-2">
                  Fathym Framework has been designed from the ground up for organizations of any size. Our LCU Ecosytem connects
                  organizations with a new set of problem solving No Code and Low Code tools. Enabling Enterprise Orchestration between new
                  partners with ease and simplicity.
                </p>

                <p class="mat-subheading-1">
                  <strong class="plain-text-bold">Organization Lookup</strong> - This is used to describe many aspects of your default setup (updateable later), and
                  gives the assets we create for you unique names for the various systems. The following rules apply...
                </p>
              </div>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step != SetupStepTypes.OrgDetails && DetailsFormValid">
              <mat-icon matListIcon class="success">check_circle</mat-icon>

              <a matLine (click)="SetStep(SetupStepTypes.OrgDetails)">Organization Details Configured</a>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <ng-container>

            <mat-list-item class="list-item-disabled" *ngIf="State.Step !== SetupStepTypes.AzureSetup && !InfraFormValid">
              <mat-icon matListIcon class="error">highlight_off</mat-icon>

              <h1 matLine>Setup Organization Infrastructure</h1>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step === SetupStepTypes.AzureSetup" class="active-mat-list-item">
              <mat-icon matListIcon>chevron_right</mat-icon>

              <div matLine>

                <h2 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Setup Organization Infrastructure</h2>

                <h2 class="mat-subheading-2">
                  Infrastructure Setup currently requires an Azure tenant and subscription to get started. Use the button below to create
                  your free Azure account or skip ahead to collect your configuration information.
                </h2>

                <div class="btn-split">
                  <a mat-raised-button href="https://azure.microsoft.com/free/" color="primary" class="mat-full-width" target="_blank">
                    <img matListIcon src="assets/img/Azure-logo.png" style="width: 40px;"/>

                    Create a Free Azure Account
                  </a>
                </div>

                <h2 class="mat-subheading-2">
                  From your newly created subscription or one that already exists, Fathym needs access to your Azure subscription to help
                  you manage your infrastructure. Follow the instructions in the link below (create a secret and ignore the section on
                  certificates) to locate your authorization information, and enter it in the form inputs.
                </h2>

                <div class="btn-split">
                  <a
                    mat-raised-button
                    href="https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal"
                    color="primary"
                    class="mat-full-width"
                    target="_blank"
                  >
                    <mat-icon>settings</mat-icon>

                    Locate your configuration information
                  </a>
                </div>

                <div class="spread">
                  <h3 class="mat-subheading-1">Additional infrastructure options coming soon!</h3>
                </div>
              </div>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step !== SetupStepTypes.AzureSetup && InfraFormValid">
              <mat-icon matListIcon class="success">check_circle</mat-icon>

              <a matLine (click)="SetStep(SetupStepTypes.AzureSetup)">Organization Infrastructure Setup</a>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <ng-container>
            <mat-list-item class="list-item-disabled" *ngIf="State.Step !== SetupStepTypes.HostConfig && !HostFormValid">
              <mat-icon matListIcon class="error">highlight_off</mat-icon>

              <h1 matLine>Configure Organization Host</h1>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step === SetupStepTypes.HostConfig" class="active-mat-list-item">
              <mat-icon matListIcon>chevron_right</mat-icon>

              <div matLine>
                  <h2 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Configure Organization Host</h2>

                <ng-container *ngIf="State.HostFlow === null">
                  <h2 class="mat-subheading-2">
                    If you have your own organization domain, follow that flow to validate domain ownership.
                  </h2>

                  <h2 class="mat-subheading-2">
                    If you would like to use a shared domain, please follow that flow to secure your unused domain.
                  </h2>
                </ng-container>

                <ng-container *ngIf="State.HostFlow === 'shared'">
                  <h2 class="mat-subheading-2">
                    We'll get you started with our community addition on a free domain. Select the root domain for your new site, no
                    worries, you'll be able to change it and bring your own domains later.
                  </h2>

                  <!-- <h2 class="mat-subheading-2" *ngIf="HostForm.controls['root'].value"> -->
                  <h2 class="mat-subheading-2" *ngIf="OrgHostComponent?.first?.RootDomainControl.value || ''">
                    Choose an available subdomain for your new site, where we will make your SSL secured Data Applications available.
                  </h2>
                </ng-container>

                <ng-container *ngIf="State.HostFlow === 'private'">
                  <h2 class="mat-subheading-2">
                    Enter the full domain that you would like to use for your site. Something like:
                  </h2>

                  <h2 class="mat-subheading-2">
                    www.my-domain.com
                  </h2>

                  <h2 *ngIf="OrgHostComponent?.first?.ValidHost" class="mat-subheading-2">
                    Then you will need to add a CNAME record for your domain provider. The record should have '{{ OrgHostComponent.first.Subdomain }}' point to
                    'lcu-prd.fathym.com'
                  </h2>
                </ng-container>
              </div>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step !== SetupStepTypes.HostConfig && HostFormValid">
              <mat-icon matListIcon class="success">check_circle</mat-icon>

              <a matLine (click)="SetStep(SetupStepTypes.HostConfig)">Organization Host Configured</a>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <ng-container>
            <mat-list-item class="list-item-disabled" *ngIf="State.Step !== SetupStepTypes.Terms && !State.TermsAccepted">
              <mat-icon matListIcon class="error">highlight_off</mat-icon>

              <h1 matLine>Fathym Terms & Privacy</h1>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step === SetupStepTypes.Terms" class="active-mat-list-item">
              <mat-icon matListIcon>chevron_right</mat-icon>

              <div matLine>
                <h1 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Fathym Terms & Privacy</h1>

                <h2 class="mat-subheading-2">
                  The Fathym Terms & Privacy will allow you access to our Open Core systems.
                </h2>

                <h2 class="mat-subheading-2">
                  For more information on privacy, terms, and conditions visit www.fathym-it.com/terms
                </h2>
              </div>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step != SetupStepTypes.Terms && State.TermsAccepted">
              <mat-icon matListIcon class="success">check_circle</mat-icon>

              <a matLine (click)="SetStep(SetupStepTypes.Terms)">Fathym Terms Accepted</a>
            </mat-list-item>
          </ng-container>

          <mat-divider></mat-divider>

          <ng-container>
            <!-- <mat-list-item *ngIf="State.Step != SetupStepTypes.Review && (!HostForm.valid || !State.Host || !State.TermsAccepted)"> -->
                <mat-list-item class="list-item-disabled" *ngIf="State.Step !== SetupStepTypes.Review && !HostFormValid || !State.Host || !State.TermsAccepted">
              <mat-icon matListIcon class="error">highlight_off</mat-icon>

              <h1 matLine>Review & Setup</h1>
            </mat-list-item>

            <mat-list-item
              *ngIf="State.Step !== SetupStepTypes.Review && State.Host && State.TermsAccepted && State.Step != SetupStepTypes.Complete"
            >
              <mat-icon matListIcon>chevron_right</mat-icon>

              <a matLine (click)="SetStep(SetupStepTypes.Review)">Review & Setup</a>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step === SetupStepTypes.Review" class="active-mat-list-item">
              <mat-icon matListIcon>chevron_right</mat-icon>

              <div matLine>
                <h1 class="h2 paragraph-title-bold margin-bottom-3 margin-top-3">Review & Setup</h1>

                <h2 class="mat-subheading-2">
                  We are going to setup a fairly opinionated starting infrastructure for your project. After getting started, you'll be able
                  to use your team to dive in and adjust the architecture that powers your enterprise.
                </h2>

                <h2 class="mat-subheading-2" *ngIf="State.EnterpriseBooted">
                  The initial configuration of your Organization has been setup. The final step will deploy and configure the Fathym
                  Framework on the domain you've chosen.
                </h2>

                <h2 class="mat-subheading-2">
                  For more information, checkout the following documentation link...
                </h2>
              </div>
            </mat-list-item>

            <mat-list-item *ngIf="State.Step === SetupStepTypes.Complete">
              <mat-icon matListIcon class="success">check_circle</mat-icon>

              <h1 matLine>Fathym Framework Setup Complete</h1>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>
  </div>




  <div fxFlex="70%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="0" class="content">
    <div class="inner">
      <div>
        <div *ngIf="!State.Loading">
          <mat-card>
          <!-- Organization details form -->
          <lcu-org-details
          #OrgDetailsComponent
          [setup-step-types]="SetupStepTypes"
          [state]="State"></lcu-org-details>

          <!-- Organization infrastructure form -->
          <lcu-org-infra
          #OrgInfraComponent
          [setup-step-types]="SetupStepTypes"
          [state]="State"
          (set-step)="SetStep($event)"></lcu-org-infra>

          <!-- Organization host form -->
          <lcu-org-host
          #OrgHostComponent
          [setup-step-types]="SetupStepTypes"
          [state]="State"
          (set-step)="SetStep($event)"></lcu-org-host>

          <!--Terms and conditions form-->
          <lcu-org-terms
          [setup-step-types]="SetupStepTypes"
          [state]="State"></lcu-org-terms>

          <lcu-org-review
            [setup-step-types]="SetupStepTypes"
            [state]="State"></lcu-org-review>

          <lcu-complete
            [setup-step-types]="SetupStepTypes"
            [state]="State"></lcu-complete>

        </mat-card>
        </div>

        <div *ngIf="State.Loading">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
