// @import '../../../styles.scss';
@import '../../../../../common/assets/common-theme';

$primary:  mat-color(map-get($global-theme, primary));
$background-color: map-get(map-get($global-theme, background), 'background');
$Theme-trans: mat-color(map-get($global-theme, primary), A700, 0.2);

.tooltip-background {
  background-color: $primary !important;
}

  .slogan{
    background-image: fathym-logo(thinky-slogan, $background-color, .7);
    background-repeat:no-repeat;
    background-position: center;
  }
 
  .spinner-container {
    position: relative;
    height: 75px;
    width: 75px;
    margin-left: 43%;
  }
  .org-card{
    background-image: linear-gradient($Theme-trans, $Theme-trans),url('/assets/img/thinky-outside-the-box.jpg') !important;
  }
  

  // :host {
    .identity {
      height: 100%;
      min-height: 500px;

      .content {
        .inner {
          height: 100%;
          min-height: 600px;
          padding: 2rem;
          display: flex;
          overflow: auto;
          align-items: center;
          min-height: inherit;
          box-sizing: border-box;
          justify-content: center;
          // background-image: fathym-logo(thinky-circle, rgba(74,145,142,0.3));
          background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/assets/img/fathym-dew-it.jpg');
          background-repeat:no-repeat;
          background-position: center;
          background-size: cover;
          // background-blend-mode: darken;

        }
      }

      .inner {
        .mat-list-base {
          .mat-list-item {
            height: auto !important;

            .mat-line {
              white-space: normal !important;
            }
          }
        }

        .mat-checkbox-layout {
          white-space: normal;
        }
      }

      .active-mat-list-item {
        // background-color: mat-color($primary, 600);
      }

      .details {
        border-right: solid 1px rgba(255, 255, 255, 0.12);
        box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
        width: 30%;
        background-size: cover;
        background-position: 50% 0;
        background-image: fathym-logo(thinky-circle, mat-color($primary), 0.1);

        // background-image: url('assets/img/green-bubbles.jpg');
      }

      .content {
        width: 70%;
      }
    }

  .documentation-button{
    margin-bottom: 15px;
  }

  .list-icon{
    color: $global-primary;
  }

  .step-checkbox{
    margin-top:12px;
  }

  .completed-check{
    border-radius: 15px;
    background-color: #9cd8d6;
    padding: 0px !important;
    margin: 4px;
    color: $primary;
  }

  .hr-line{
    border: 0.5px solid grey;
  }

  .reg-headers{
    margin-left: 15px;
  }