// @import '../../../styles.scss';
@import '../../../../../common/assets/common-theme';

.infra-check {
    border-radius: 15px;
    background-color: mat-color($fathym-accent);
}

.help-anchor {
    text-decoration: none;
    // color: mat-color($fathym-primary, );
    color: mat-color(map-get($global-theme, primary), default-contrast);
}
