<form
  *ngIf="State.SetupStep == SetupStepTypes.AzureSetup"
  [formGroup]="InfraForm"
>
  <div class="spread">
    <h1
      fxLayoutAlign="center center"
      class="mat-display-1 title margin-bottom-4"
    >
      Microsoft Azure Subscription Setup
    </h1>

    <div>
      <mat-form-field class="mat-full-width">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-icon
            *ngIf="
              OrgInfraAzureAppId.value.length > 0 &&
              !OrgInfraAzureAppId.hasError('pattern')
            "
            [ngClass]="'success infra-check'"
            >check_circle</mat-icon
          >
          <input
            formControlName="azureAppId"
            matInput
            placeholder="Azure Application ID"
            [type]="HideAppId ? 'password' : 'text'"
            required
            [disabled]="AzureInfrastructureValid"
          />
        </div>

        <mat-error *ngIf="OrgInfraAzureAppIdHasError">
          {{ OrgInfraAzureAppIdErrorMessage }}
        </mat-error>

        <mat-icon
          matBadgePosition="below after"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          color="warn"
          matSuffix
          (click)="HideAppId = !HideAppId"
          class="cursor-pointer"
          >{{ HideAppId ? "visibility_off" : "visibility" }}
        </mat-icon>
        <a
        matSuffix
        [href]="SupportPage"
        target="_blank"
        class="help-anchor"
      >
        <mat-icon
          matSuffix
          matTooltip="Obtain this value from the App Registration in Azure’s Active Directory. Click for more detailed instructions."
          matTooltipClass="tooltip-background"
          >info_outline</mat-icon
        >
      </a>
        <!-- matBadge="{{OrgInfraAzureAppId.value.length}}"  -->
        <mat-hint>Guid Value</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-full-width margin-top-5">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-icon
            *ngIf="
              OrgInfraAzureTenantId.value.length > 0 &&
              !OrgInfraAzureTenantId.hasError('pattern')
            "
            [ngClass]="'success infra-check'"
            >check_circle</mat-icon
          >
          <input
            formControlName="azureTenantId"
            matInput
            placeholder="Azure Tenant (Directory ID)"
            [type]="HideTenantId ? 'password' : 'text'"
            required
            [disabled]="AzureInfrastructureValid"
          />
        </div>

        <mat-error *ngIf="OrgInfraAzureTenantIdHasError">
          {{ OrgInfraAzureTenantIdErrorMessage }}
        </mat-error>

        <mat-icon
          matBadgePosition="below after"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          color="warn"
          matSuffix
          (click)="HideTenantId = !HideTenantId"
          class="cursor-pointer"
          >{{ HideTenantId ? "visibility_off" : "visibility" }}
        </mat-icon>
        <a
        matSuffix
        [href]="SupportPage"
        target="_blank"
        class="help-anchor"
      >
        <mat-icon
          matSuffix
          matTooltip="Obtain this value from the App Registration in Azure’s Active Directory. Click for more detailed instructions."
          matTooltipClass="tooltip-background"
          >info_outline</mat-icon
        >
        </a>
        <!-- matBadge="{{OrgInfraAzureTenantId.value.length}}"  -->
        <mat-hint>Guid Value</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-full-width margin-top-5">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-icon
            *ngIf="
              OrgInfraAzureSubId.value.length > 0 &&
              !OrgInfraAzureSubId.hasError('pattern')
            "
            [ngClass]="'success infra-check'"
            >check_circle</mat-icon
          >
          <input
            formControlName="azureSubId"
            matInput
            placeholder="Azure Subscription ID"
            [type]="HideSubId ? 'password' : 'text'"
            required
            [disabled]="AzureInfrastructureValid"
          />
        </div>

        <mat-error *ngIf="OrgInfraAzureSubIdHasError">
          {{ OrgInfraAzureSubIdErrorMessage }}
        </mat-error>

        <mat-icon
          matBadgePosition="below after"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          color="warn"
          matSuffix
          (click)="HideSubId = !HideSubId"
          class="cursor-pointer"
          >{{ HideSubId ? "visibility_off" : "visibility" }}
        </mat-icon>
        <a
        matSuffix
        [href]="SupportPage"
        target="_blank"
        class="help-anchor"
      >
        <mat-icon
          matSuffix
          matTooltip="Obtain this value from the App Registration in Azure’s Active Directory. Click for more detailed instructions."
          matTooltipClass="tooltip-background"
          >info_outline</mat-icon
        >
        </a>
        <!-- matBadge="{{OrgInfraAzureSubId.value.length}}"  -->
        <mat-hint>Guid Value</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-full-width margin-top-5">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-icon
            *ngIf="
              OrgInfraAzureAppAuthKey.value.length > 0 &&
              !OrgInfraAzureAppAuthKey.hasError('required')
            "
            [ngClass]="'success infra-check'"
            >check_circle</mat-icon
          >
          <input
            formControlName="azureAppAuthKey"
            matInput
            placeholder="Azure Application Auth key"
            [type]="HideAuthKey ? 'password' : 'text'"
            required
            [disabled]="AzureInfrastructureValid"
          />
        </div>

        <mat-error *ngIf="OrgInfraAzureAppAuthKeyHasError">
          {{ OrgInfraAzureAppAuthKeyErrorMessage }}
        </mat-error>

        <mat-icon
          matBadgePosition="below after"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          color="warn"
          matSuffix
          (click)="HideAuthKey = !HideAuthKey"
          class="cursor-pointer"
          >{{ HideAuthKey ? "visibility_off" : "visibility" }}
        </mat-icon>
        <a
        matSuffix
        [href]="SupportPage"
        target="_blank"
        class="help-anchor"
      >
        <mat-icon
          matSuffix
          matTooltip=" Obtain this value from Azure’s Certificates and Secrets page. Click for more detailed instructions."
          matTooltipClass="tooltip-background"
          >info_outline</mat-icon
        >
        </a>
        <!-- matBadge="{{OrgInfraAzureAppAuthKey.value.length}}"  -->
        <!-- <mat-hint>32 Character Limit</mat-hint> -->
      </mat-form-field>

      <div class="margin-top-4" *ngIf="!AzureInfrastructureValid">
        <button
          matTooltip="Validate your azure infrastructure settings to complete setting up your infrastructure."
          matTooltipClass="tooltip-background"
          mat-raised-button
          color="accent"
          class="mat-full-width"
          (click)="ValidateInfra()"
        >
          Validate Infrastructure Settings
        </button>

        <button
          mat-button
          class="mat-full-width"
          (click)="ChangeStep(SetupStepTypes.OrgDetails)"
        >
          Back
        </button>
      </div>

      <div class="margin-top-4" *ngIf="AzureInfrastructureValid">
        <h2>Infrastructure Settings Valid</h2>
      </div>
    </div>

    <ng-container *ngIf="AzureInfrastructureValid">
      <mat-form-field class="mat-full-width margin-top-5">
        <mat-label>Azure Region (Location)</mat-label>

        <mat-select
          formControlName="azureRegion"
          [disabled]="
            !AzureRegionOptionKeys || AzureRegionOptionKeys.length == 0
          "
          required
        >
          <mat-option
            class="mat-option-dropdown"
            *ngFor="let regOptKey of AzureRegionOptionKeys"
            [value]="regOptKey"
          >
            {{ State.AzureLocationOptions[regOptKey] }}
          </mat-option>
         
        </mat-select>
        <mat-icon
        matSuffix
        matTooltip="Select the Azure server region that best fits your location."
        matTooltipClass="tooltip-background"
        >info_outline</mat-icon
      >
      </mat-form-field>

      <mat-form-field class="mat-full-width margin-top-5">
        <mat-label>Infrastructure Template</mat-label>

        <mat-select formControlName="infraTemplate" required>
          <mat-option
            class="mat-option-dropdown"
            *ngFor="let infraOptKey of InfrastructureOptionKeys"
            [value]="infraOptKey"
          >
            {{ State.InfrastructureOptions[infraOptKey] }}
          </mat-option>
        </mat-select>
        <mat-icon
        matSuffix
        matTooltip="Choose your infrastructure template. The Low-Code Unit™ Runtime template installs the Azure resources for building and hosting applications and APIs. The Low-Code Unit™ Runtime w/ IoT template provisions all of the above and the infrastructure to connect devices and real-time data flows, enabling Internet of Things (IoT) projects."
        matTooltipClass="tooltip-background"
        >info_outline</mat-icon
      >
      </mat-form-field>

      <div
        class="spread mat-small mat-error"
        *ngIf="State.Status && State.Status.Code != 0"
      >
        {{ State.Status.Message }}
      </div>

      <div class="margin-top-4">
        <button
          matTooltip="Your best practice cloud infrastructure environment will be set up. If you were doing this from scratch, it may take several days, but with Fathym it will only take up to 15 minutes."
          matTooltipClass="tooltip-background"
          mat-raised-button
          color="accent"
          class="mat-full-width"
          (click)="Configure()"
          [disabled]="!InfraForm.valid"
        >
          Review & Launch
        </button>

        <button
          mat-button
          class="mat-full-width"
          (click)="ChangeStep(SetupStepTypes.OrgDetails)"
        >
          Back
        </button>
      </div>
    </ng-container>
  </div>
</form>
