@import '../../../../../common/src/styles/theme';

.mat-option-dropdown{
    background-color: white;
}
::ng-deep .mat-select-panel{
    margin-top:40px;
}
.infra-check{
    border-radius: 15px;
    background-color: $global-accent;
}