<form *ngIf="State.Step == SetupStepTypes.HostConfig" [formGroup]="HostForm" (ngSubmit)="SecureHost()">
        <h1 class="mat-display-2 title">Establish {{ State.OrganizationName }} Shared Host</h1>

        <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="!State.HostFlow">
          <div fxFlex="75%" fxFlex.lt-md="100%">
            <mat-card>
              <h2 class="mat-headline">Use a Fathym Domain</h2>

              <p class="mat-subtitle paragraph-title paragraph-title">
                Don't have your own domain? Or just want to get started quickly? This is the route for you.
              </p>

              <p class="mat-subtitle paragraph-title paragraph-title">
                You'll be able to add your own domain later on, click below to get started.
              </p>

              <a mat-raised-button color="accent" (click)="SetHostFlow('shared')">Use Fathym Domain</a>
            </mat-card>
          </div>

          <!-- <div fxFlex="50%" fxFlex.lt-md="100%">
            <mat-card>
              <h2 class="mat-subheading-2">Bring Your Own Domain</h2>

              <p class="mat-subtitle paragraph-title paragraph-title">
                Ready to get started forging your own domain? We'll walk you through getting started here.
              </p>

              <p class="mat-subtitle paragraph-title paragraph-title">
                You'll be able to add more domains later on, so click below to get started
              </p>

              <a mat-raised-button color="primary" (click)="SetHostFlow('private')">Use Custom Domain</a>
            </mat-card>
          </div> -->
        </div>

        <ng-container *ngIf="State.HostFlow">
          <mat-form-field class="mat-full-width" *ngIf="State.HostFlow == 'shared'">
            <mat-select placeholder="Root Domain" formControlName="rootDomainControl">
              <mat-option [value]="host" *ngFor="let host of State.HostOptions">{{ host }}</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="RootDomainControl.value || State.HostFlow == 'private'">
            <mat-form-field class="mat-full-width">
              <!-- <input matInput placeholder="Host Address" (ngModelChange)="onChanges()" formControlName="hostAddressControl" required /> -->
              <input matInput placeholder="Host Address" formControlName="hostAddressControl" required />

              <span matSuffix *ngIf="State.HostFlow == 'shared'">.{{ RootDomainControl.value }}</span>

              <mat-icon
                matSuffix
                matTooltip="Select a domain. You can choose your own domain or one of Fathym’s domains. Fathym’s domains allow you to use a sub-domain, for example, yourcompany.{{
                  RootDomainControl.value
                }}."
                >help_outline</mat-icon
              >
            </mat-form-field>

            <div *ngIf="State.HostApprovalMessage">
              <h2>{{ State.HostApprovalMessage }}</h2>
            </div>

            <button mat-raised-button color="primary" class="mat-button-lg" [disabled]="!HostForm.valid || !HostValid">
              Configure Organization Hosting
            </button>
          </ng-container>

          <!-- <div>
            <a mat-button (click)="SetHostFlow(null)"><mat-icon>cancel</mat-icon> Back To Host Options</a>
          </div> -->
        </ng-container>
      </form>
