$primary: mat-palette($fathym-arctic-primary);
$accent: mat-palette($fathym-arctic-accent);
$warn: mat-palette($mat-deep-orange);
// $primary-logo: $fathym-default-logo;

$arctic-theme: mat-light-theme(
    $primary,
    $accent
    );