$primary: mat-palette($fathym-cool-candy-primary);
$accent: mat-palette($fathym-cool-candy-accent);
$warn: mat-palette($mat-deep-orange);
// $primary-logo: $fathym-default-logo;

$cool-candy-theme: mat-dark-theme(
    $primary,
    $accent
    );