$primary: mat-palette($fathym-ice-primary);
$accent: mat-palette($fathym-ice-accent);
$warn: mat-palette($mat-deep-orange);
// $primary-logo: $fathym-default-logo;

$ice-theme: mat-light-theme(
    $primary,
    $accent
    );