.marketplace-container{
  width: 100%;
  padding-right: 50px;
}
.marketplace-header{
  cursor: pointer;
  outline: none;
}

.marketplace-icons{
  margin: 5px;
  font-size: 35px;
  height: 35px;
  width:35px;
  cursor: pointer;
  outline: none;
}
